.botaoPadrao {
    border: 1px solid var(--verde-destaque);
    color: var(--verde-destaque);
    padding: 0.75rem 1rem;
    border-radius: 8px;
    background: transparent;
}

.botaoPadrao:hover {
    border: 1px solid var(--verde-pastel);
    color: var(--verde-pastel);
}
