:root {
  --fonte: 'Prompt', sans-serif;
  --verde-destaque: #81FE88;
  --verde-pastel: #BFFFC3;
  --verde-petroleo: #132E35;
  --grafite: #01080E;
  --cinza-escuro: #171D1F;
  --cinza-medio: #888888;
  --cinza: #3E3E3F;
  --cinza-claro: #BCBCBC;
  --offwhite: #E1E1E1;
  --branco: #FFFFFF;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: var(--fonte);
  background: url('../assets/imgs/simbolo.png') left 5rem top no-repeat,
    url('../assets/imgs/simbolo.png') right 5rem bottom no-repeat,
    var(--grafite);
  /* background-size: 22.5rem; */
  /* background: linear-gradient(180deg, #0E1112 0%, #00090E 100%); */
  color: var(--offwhite);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}
ul li {
  list-style: none;
}

.app-container {
  display: flex;
  max-width: 1200px;
  justify-content: center;
  margin-top: 3rem;
}

.divContainerLateralPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}
