.main {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    flex-grow: 1;
    gap: 1rem;
}

/* 
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  margin-bottom: 2rem;
}
*/

