.container-filtro{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.5rem;
}
.container-filtro ul li{
    background-color: var(--cinza-claro);
    color: var(--cinza-escuro);
    font-size: 18px;
    padding: 0.25rem 0.5rem;
    border-radius: 8px;
}
.container-filtro ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
}
.container-filtro button{
    border: none;
    background-color: transparent;
    color: var(--cinza-medio);
    font-size: 18px;
    cursor: pointer;
}
