/* Estilos do campo de seleção */
.form__campo-checkbox {
    margin-right: 0.5em;
    width: 20px;
    height: 20px;
    position: relative;
    background-color: none;
    border: 2px solid var(--cinza-claro);
}

.form__campo-checkbox label {
    cursor: pointer;
    position: absolute;
    left: -1px;
    top: -2px;
}

.form__campo-checkbox label::after {
    content: '';
    width: 7px;
    height: 4px;
    position: absolute;
    top: 4px;
    left: 4px;
    border: 3px solid var(--verde-destaque);
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    transform: rotate(-45deg);
}

.form__campo-checkbox label:hover::after {
    opacity: 0.3;
}

.form__campo-checkbox input[type=checkbox] {
    visibility: hidden;
}

.form__campo-checkbox input[type=checkbox]:checked+label::after {
    opacity: 1;
}

/* Estilo do texto do formulário: lembrar-me */
.form__opcoes-texto {
    flex-grow: 2;
}
